@model Calculator.Models.ResultModel
<h2>Result</h2>
<ul class="middle-content">
    @foreach(var item in Model.XList.Select((model, index) => new { index, model }))
    {
        <li> x<sub>@(item.index+1)</sub> = @(item.model) </li>
    }
</ul>