@model Calculator.Models.FrontendModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <h2>Systems of linear equations solver</h2>

    <h3>Please enter system of equations in text box below:</h3>

    <form action="/Home/Calculate" method="POST" class="js-main-form">
    
        <div class="top-content">
            @Html.TextAreaFor(m=>m.EquationSystem)
        </div>

        
        <input type="submit" value="Calculete" class="ui-button"/>
    </form>

    <div class="js-result"></div>

</div>