@model Calculator.Models.FrontendModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <h2>Systems of linear equations solver</h2>

    <h3>Please enter system of equations in text box below.</h3>
    <p>Please, follow the rules:</p>
    <ul>
        <li>Use letters only in names of variables</li>
        <li>Don't insert space inside of equation</li>
    </ul>
    
    <p>Example:</p>
    5mary+6.5tom=10<br/>
    3.5tom-4mary=3.5<br/>

    <form action="/Home/Calculate" method="POST" class="js-main-form">
    
        <div class="top-content">
            @Html.TextAreaFor(m=>m.EquationSystem)
        </div>

        
        <input type="submit" value="Calculete" class="ui-button"/>
    </form>

    <div class="js-result"></div>

</div>