@model Calculator.Models.FrontendModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <h2>Systems of linear equations solver</h2>

    <h3>Please enter system of equations in text box below.</h3>
    <p>Please, follow the rules:</p>
    <ul>
        <li>You may use * or not : -5*x or -5x are both right</li>
        <li>You may use name of variables like y1 or myvariable.</li>
    </ul>
    
    <p>Example:</p>
    <p>5 mary + 6.5tom = 10</p>
    <p>3.5*tom - 4*mary = 3.5</p>

    <form action="/Home/Calculate" method="POST" class="js-main-form">
    
        <div class="top-content">
            @Html.TextAreaFor(m=>m.EquationSystem)
        </div>

        
        <input type="submit" value="Calculete" class="ui-button"/>
    </form>

    <div class="js-result"></div>

</div>